body{
    background-color: hsl(212, 45%, 89%);
}
#back{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 10%;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}
#ftext{
    text-align: center;
    font-family: 'Outfit';
}
#stext{
    color: grey;
    text-align: center;
    font-family: 'Outfit';
}
